/* Define base font size for h1 */
h1 {
  font-size: 20px; /* Base font size */

  @media screen and (max-width: 960px) {
    font-size: 18px; /* Decrease font size for smaller screens */
  }

  @media screen and (max-width: 640px) {
    font-size: 16px; /* Decrease font size for even smaller screens */
  }

  /* Media query for screens up to 320px */
  @media screen and (max-width: 320px) {
    font-size: 14px; /* Further decrease font size for the smallest screens */

    &.small {
      color: #1d1d1d; /* Change text color for h1 with class 'small' */
    }
  }
}
